@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

/*
// Colors
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
*/

/* Base Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  background-image: url("../images/background.png");
  color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
  color: #6f439c;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #fff;
  background-image: url("../images/background.png");
  color: #3a7049;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 8rem;
  font-weight: 800;
  color: #ebe5da;
  margin-bottom: 0.4rem;
  font-family: "Pacifico", cursive;
}

.header__subtitle {
  /* color: #777; */
  margin-top: -20px;
  font-size: 3rem;
  font-weight: 300;
  color: #e3dccf;
  font-family: "Dongle", sans-serif;
}

/* Actions Bar */

.actions {
  background-color: #fff;
  opacity: 0.8;
  /* border-bottom: 1px solid #dedfe0; *
  /* color: #333333; */
  padding: 1rem;
}

.actions__container {
  align-items: center;
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  min-height: 3rem;
  padding: 0 1.6rem;
  color: #3a7049;
}

.actions__container--spaced {
  justify-content: space-between;
}

/* Form Inputs */

.input {
  background-color: transparent;
  border: 0px solid;
  border-bottom: 2px solid #e3dccf;
  color: rgb(95, 95, 95);
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Arimo", sans-serif;
  height: 3rem;
  margin-right: 1.6rem;
  padding: 0.4rem 0.8rem;
}

.input:focus {
  outline: none;
}

.input__color {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: bold;
}

.checkbox {
  display: flex;
  align-items: baseline;
  font-family: "Arimo", sans-serif;
}

.checkbox > input {
  margin-right: 0.4rem;
}

.button {
  background: #92ab89;
  border: none;
  border-bottom: 2px solid #837062;
  border-radius: 10px;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.8rem;
  transition: background 0.3s ease, color 0.3s ease;
}

.button:hover {
  background: #e0d5c8;
}

.button--secondary {
  background: #888888;
  border-bottom: 2px solid #717171;
}

.button--secondary:hover {
  background: #6e6e6e;
}

.button--text {
  background: none;
  border: none;
  color: rgb(97, 97, 97);
}

.button--text:hover {
  background: none;
  color: white;
  text-decoration: underline;
}

/* Note editor */

.title-input {
  border: 1px solid #dedfe0;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  margin: 2.4rem 0;
  padding: 0.8rem;
  width: 100%;
}

.body-input {
  border: 1px solid #dedfe0;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  display: block;
  margin: 2.4rem 0;
  min-height: 15rem;
  padding: 0.8rem;
  width: 100%;
}

/* Note List Item */

.list-item {
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
  background: rgba(199, 237, 180, 0.6);
  border: none;
  border-radius: 10px;
  margin: 1.6rem 0;
  padding: 0.6rem 1.6rem;
  display: block;
  transition: background 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item__container {
  display: flex;
  font-size: 2.8rem;
  font-weight: 300;
  align-items: baseline;
  font-family: "Dongle", sans-serif;
}

.list-item__container > *:first-child {
  margin-right: 0.8rem;
}

.list-item:hover {
  background: #e3dccf;
  color: #000;
}

.list-item__title {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.list-item__subtitle {
  color: #666;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
}

.list-title {
  margin: 3.2rem 0 1.6rem;
  color: #ebe5da;
}

.empty-message {
  margin: 3.2rem 0;
}
